/*
Theme Name: Makeupcityshop Child
Theme URI: http://uix.store/sober/
Author: Fahad Sheikh
Text Domain: makeupcityshop
Template: makeupcityshop
*/


body, button, input, select, textarea {
	color: #23232c;
}

.nav-menu li li a {
    color: #6c6c6c;
}

.pink a {
    color: #EC098B;
}

.pink a:after {
    background-color: #EC098B;
}

.site-header li.menu-item-cart span.count,
.site-header li.menu-item-wishlist span.count {
    color: #23232c;
    background-color: #fff;
}

.topbar {
    background-color: #23232c;
}

footer {
    background-color: #000;
    margin-top: 50px;
    position: relative;
    z-index: 2;
}

.woocommerce .ribbons .newness {
    background-color: #ed028c;
}

.products-filter li:nth-child(4) a {
    color: #e80000;
}

.footer-info {
    display: none;
}

.woocommerce .ribbons .onsale {
    background-color: #e80000;
    height: 30px;
    line-height: 30px;
    width: 60px;
    font-size: 15px;
}

.woocommerce .ribbons .ribbon {
    width: 45px;
}

footer:after {
    content: "";
    background-image: url(//makeupcityshop.com/wp-content/themes/makeupcityshop-child/images/footer-overlay.png);
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    height: 255px;
    background-repeat: repeat;
    z-index: -1;
    display: block !important;
    left: 0;
    overflow: visible;
}

.woocommerce div.product .product_title {
    font-weight: bold;
}

.woocommerce-product-details__short-description {
    color: #000;
    font-size: 16px;
}

.footer-widgets .widget-title,
.footer-widgets .textwidget,
.widget .search-form input[type=submit], 
.widget .mc4wp-form input[type=submit] {
     color: #b4b3b3; 
}

.site-header {
	padding: 35px 0 20px 0;
}

.preloader {
	background-color: #fff !important;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.tax-pa_brand .page-title {
    opacity: 0;
}

.preloader img {
	max-width: 170px;
    margin: auto;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 37%;
    left: 0;
    right: 0;
}

.site-navigation .mega-menu-container {
    padding: 0px 0 0px 0;
}

.site-navigation .mega-sub-menu .sub-menu {
    margin: 15px 0 30px 0;
}

.post-type-archive-looks .sober-container > .container {
	width: auto;
}

.post-type-archive-looks .sober-banner-grid-4 .sober-banner a:before {
	background: transparent;
}

.post-type-archive-looks .content-area {
	float: right;
}

.post-type-archive-looks .widget-area {
    padding-left: 0;
}

.post-type-archive-looks .sober-banner-grid-4 {
	margin-bottom: 50px;
}

.post-type-archive-looks .product-header img {
	border-radius: 5px;
}

.post-type-archive-looks  .content-area ul li {
	list-style-type: none;
}

.post-type-archive-looks .content-area ul.products li h3.woocommerce-loop-product__title {
	    text-align: left;
    font-size: 1.5em;
}

.post-type-archive-looks .sober-banner {
	max-height: 600px;
}

.post-type-archive-looks .sober-banner3 {
    position: relative;
    overflow: hidden;
    max-height: 300px;
}

/* Single Looks */

.single-looks {
    position: relative;
    top: -250px;
}

.single-looks .page-header {
    padding: 300px 0 300px 0;
}

.single-looks .video {
    width: 100%;
    height: 640px;
    position: relative;
    overflow: hidden;
}

.single-looks .overlay {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    max-height: 640px;
}

.details {
    margin-top: 40px;
    overflow: hidden;
}

.details h1 {
    margin-top: 0;
}

.price-box {
    background-color: #f0f0f0;
    padding: 70px;
    text-align: center;
}

.price-box a {
    background-color: #ed028c;
}

.price-box svg {
    fill: #fff;
    stroke: #fff;
    margin-right: 15px;
    vertical-align: -0.35em;
}

.price-box .category {
    color: #333333;
}

.price-box h1 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
}

.price-box h3 {
    font-weight: normal;
    font-size: 36px;
    margin-top: 0px;
}

.single-looks .text-content {
    margin-top: 50px;
}

#content {
    padding-bottom: 0px !important;
}

.wpsl-search {
	display: none;
}

#wpsl-wrap {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.site-navigation .mega-sub-menu li {
    margin-bottom: 6px;
}

.nav-menu .sub-menu a, .site-navigation .mega-sub-menu > span, .site-navigation .mega-sub-menu > a {
    font-size: 15px;
}

.page-header .breadcrumb {
	display: none;
}

.widget .search-form input[type=search], .widget .search-form input[type=email], .widget .mc4wp-form input[type=search], .widget .mc4wp-form input[type=email] {
    background-color: transparent;
    color: #fff;
}



.widget_brand_widget ul {
    list-style-type: none;
}

.widget_brand_widget > ul {
    padding-left: 0;
}

.topbar a {
    color: #f6f6f6 !important;
    font-size: 1.1rem !important;
}

.vc_images_carousel.vc_per-view-more .vc_carousel-slideline .vc_carousel-slideline-inner>.vc_item>.vc_inner {
    text-align: center;
}

.select2-container {
    z-index: 10000;
}

.site-navigation a:after {
    background-color: #fff;
}

button {
    color: #fff;
}

.footer-info .copyright {
    color: #fff;
}

.tracking .order-actions {
    display: none;
}

.ctmer {
    color: #fff;
}

.woocommerce-store-notice, p.demo_store {
    background-color: #000;
    color: #fff;
}

.wof-wheel-standalone svg {
    width: 100%;
    height: 100%;
}

.sober-container .wof-wheel-standalone .wof-wheel .wof-wheel-bg {
    width: 700px;
    height: 700px;
}

.sober-container .wof-wheel .wof-pointer {
    right: 0;
}

@media (min-width: 1200px) and (max-width: 1300px) {
    header .hidden-lg {
        display: block !important;
    }
    header .hidden-md {
        display: none !important;
    }
}

@media only screen and (max-width: 1200px) {
    ul .menu-item-title-hidden:first-child {
        margin-bottom: 0;
    }
    .menu-item-title-hidden > span {
        display: none;
    }
    ul .menu-item-title-hidden ul {
        padding: 0;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .sober-countdown .box .time {
        font-size: 45px;
        font-size: 2.5rem;
    }
    .sober-countdown .box {
        min-width: 50px;
        margin: auto;
    }

    h1 {
        font-size: 2.5rem;
    }
}

ins .woocommerce-Price-amount {
    font-size: 15px;
    color: #ff6962;
}

.woocommerce ul.products li.product .onsale {
    display: none;
}

.wcpa_form_item {
    text-align: left;
}


@media screen and (max-width: 768px) {
    .page-header {
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        background-color: #fff;
    }
}

@media screen and (max-width: 550px) {
    .page-header {
        padding-bottom: 60px;
        padding-top: 60px;
    }
}